[Unit]
Description=qBittorrent
After=network.target

[Service]
Type=forking
User=qbittorrent
UMask=002
ExecStart=/usr/bin/qbittorrent-nox -d --webui-port=8001
Restart=always

[Install]
WantedBy=multi-user.target
